.image-item {
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-item:first-child {
    background-image: url(../../../assets/image/OVNS-PLUS/OVNS-PLUS.webp);
}
.image-item:nth-child(2) {
    background-image: url(../../../assets/image/OVNS-PLUS/OVNS-PLUS_2.webp);
}
.image-item:nth-child(3) {
    background-image: url(../../../assets/image/OVNS-PLUS/OVNS-PLUS_3.webp);
}
.image-item:nth-child(4) {
    background-image: url(../../../assets/image/OVNS-PLUS/OVNS-PLUS_4.webp);
}
.image-item:nth-child(5) {
    background-image: url(../../../assets/image/OVNS-PLUS/OVNS-PLUS_15.webp);
}
