.image-item {
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.image-item:first-child {
    background-image: url(../../../assets/image/OVNS-07/OVNS-07_15.gif);
}
.image-item:nth-child(2) {
    background-image: url(../../../assets/image/OVNS-07/OVNS-07_12.webp);
}
.image-item:nth-child(3) {
    background-image: url(../../../assets/image/OVNS-07/OVNS-07_13.webp);
}
.image-item:nth-child(4) {
    background-image: url(../../../assets/image/OVNS-07/OVNS-07_14.webp);
}
.image-item:nth-child(5) {
    background-image: url(../../../assets/image/OVNS-07/OVNS-07_11.webp);
}
.image-item:nth-child(6) {
    background-image: url(../../../assets/image/OVNS-07/OVNS-07_16.webp);
}


